/* Universal Selector */
* {
    box-sizing: border-box;
    /* Sets padding on all sides to 0px */
    padding: 0;
    /* Sets all sides to 0px */
    margin: 0;
}
/* Element Selectors select all of that element type */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    /* Font-family property specifies a list of fonts to be used in order of priority */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
 /* Font-size property sets the size of a font */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Uses hex code to define color */
header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* Font-family property specifies a list of fonts to be used in order of priority */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
 /* Font-size property sets the size of a font */
p {
    font-size: 16px;
}
/* Class Selectors select all elements with that class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    /* Font-family property specifies a list of fonts to be used in order of priority */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    /* Sets bottom margin to 32 */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    /* Sets bottom margin to 10 */
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-sub {
    margin-bottom: 20px;
    /* Sets padding on all sides to 50px */
    padding: 50px;
    height: 300px;
    /* Font-family property specifies a list of fonts to be used in order of priority */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-sub img {
    max-height: 200px;
}

.content-sub h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    /* Font-family property specifies a list of fonts to be used in order of priority */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 /* Font-size property sets the size of a font */
footer h2 {
    font-size: 20px;
}